<!DOCTYPE html>
<html>
<head>
    <title>AGES Pay Mock</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{webjars/bootstrap/3.3.2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{webjars/bootstrap/3.3.2/js/bootstrap.min.js}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body style="padding-top: 60px;">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand" href="#">Etherpad PlantUML Wrapper</span>
        </div>
    </div>
</nav>

<div class="container">

    <div class="jumbotron">
        <h1>tbd</h1>
    </div>

</div>

</body>

</html>