<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>epUML</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"

          rel="stylesheet" media="screen"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"

          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            ></script>

    <script type="text/javascript">
        //<![CDATA[
        $( document ).ready( function() {
            $(".reload").on("click", function() {
                d = new Date();
                $(".reload").attr("src", $(".reload").attr("src") + "?ts=" + d.getTime());
            });
        });
        //]]>
    </script>
</head>
<body style="padding-top: 60px;">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand" href="#">Etherpad PlantUML Wrapper</span>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <form th:action="@{epuml}" th:object="${epuml}" method="post">
            <div class="col-lg-6">
                <iframe th:src="*{url}" style="width: 100%; height: 600px;"></iframe>
            </div>
            <div class="col-lg-6">
                <img class="reload" th:src="*{picUrl}" th:title="*{picTitle}"/>
            </div>
        </form>
    </div>

</div>

</body>

</html>